// esquema de colores



// 6to esquema de color
$Black: #000000;
$Outerspace: #454545;
$Quicksilver: #A2A2A2;
$black: #000000;
$white: #ffffff;
$grey: #646266;
$Spanishgray: #989797;

// tipografia
$oldstandard: 'Old Standard TT', serif;


// tamaños de fuentes
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;

$num-column: 12;

// Brakepoints
$small: 576px;
$medium: 770px;
$large: 992px;
$xlarge: 1200px;


